.shimmer {
    @apply relative overflow-hidden;

    &:after {
        @apply absolute top-1/2 left-1/2 blur-xl transform bg-white;
        content: "";
        width: 200%;
        height: 200%;

        animation-duration: 1.2s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: loadingShimmer;
        animation-timing-function: linear;
    }
}

@keyframes loadingShimmer {
    0% {
        transform: translate3d(-150%, -50%, 0) rotate(-12deg);
    }

    100% {
        transform: translate3d(100%, -50%, 0) rotate(-12deg);
    }
}
